<div class="form clearfix">
  <div class="form-field">
    <input [(ngModel)]="number" [ngClass]="{ error: !isValidNumber(false) }" (keyup)="isValidNumber(true)" class="form-number clearfix" id="form-number"  />
    <input [(ngModel)]="number2" [ngClass]="{ error: !isValidNumber2(false) }" (keyup)="isValidNumber2(true)" class="form-number clearfix" id="form-number2"  />
  </div>
  <div class="call-button" (click)="call()">
  Zadzwoń
  </div>
</div>
<div class="state">
  Status połączenia: {{ state }}
 </div>
